body {
  margin: 0;
  padding: 5px;
  font-family: 'Helvetica', 'Gill Sans', sans-serif;
}

.tab-container {
  font-size: 1.7vw;
  display: flex;
  gap: 5px;
}

.tab-container.one-col {
  flex-direction: column;
  font-size: 3.5vw;
}

pre {
  margin: 0
}

#cifra_tom {
  display: block;
}

b {
  color: blueviolet;
}

h1,
h2 {
  margin: 5px 0;
}

#cifra_tom {
  font-size: 0.7em;
  margin-bottom: 5px;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1em;
}

img {
  display: block;
}

div:not(.tab-container) {
  width: calc(100vw - 25px);
  overflow-x: scroll;
  max-width: 100%;
}